@using EChat.CoreLayer.Utilities
@model List<EChat.CoreLayer.ViewModels.Chats.UserGroupViewModel>
@{
    ViewData["Title"] = "Home Page";
}


<div class="disconnect">
    <div>
        <p>Connection Lost.</p>
        <p>Reconnecting ...</p>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" onsubmit="createChatGroup(event)" enctype="multipart/form-data">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Chat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control" id="groupName" placeholder="Enter chat group name" />
                <br />
                <input type="file" accept="image/*" name="image" class="form-control mt-2" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</div>





<div class="row">

    <div class="col-8 chat-content">

        <div class="header" style="display: none">
            <img src="img/Default.jpg" />
            <h2>Chat</h2>
        </div>
        <div class="chats">
        </div>

        <div class="footer mt-2" style="display: none">
            <form onsubmit="sendPm(event)">
                <input id="pm" type="text" class="form-control" placeholder="Please Enter your text">
                <button type="submit" class="btn btn-success" style="background-color: #007bff">
                    Send
                    <i class="fa fa-send"></i>
                </button>
            </form>
        </div>

    </div>


    <div class="col-4 rooms">

        <Ul>
            <li>
                <form>
                    <input type="text" id="search-input" onkeyup="search()" placeholder="Search ..." class="form-control" style="padding-left: 2rem" />
                    <i class="fa fas fa-search"></i>
                </form>
            </li>

            <li id="search-result" style="display: none">
                <ul>
                    <li class="alert alert-warning">Not Found</li>
                </ul>
            </li>

            <li id="user-groups">
                <ul>
                    <li>
                        <button class="btn btn-primary btn-block text-center w-100" type="button" data-toggle="modal" data-target="#exampleModal">
                            New Chat
                            <i class="fa fa-plus"></i>
                        </button>
                    </li>

                    @foreach (var item in Model)
                    {
                        <li onclick="joinGroup('@item.Token')">
                            @item.GroupName
                            <img src="/images/groups/@item.ImageUrl" />
                            <span>@item.LastChat?.CreateDate.ToShamsi("ds dd ms Y")</span>
                        </li>
                    }
                </ul>
            </li>


        </Ul>

    </div>

</div>

@section Scripts
{
<script src="lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="js/SignalRCustom.js"></script>
<script>




</script>
}
