@model List<EChat.CoreLayer.ViewModels.Chats.UserGroupViewModel>
@{
    ViewData["Title"] = "Home Page";
}



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" onsubmit="createChatGroup(event)" enctype="multipart/form-data">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Chat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control" id="groupName" placeholder="Enter chat group name" />
                <br />
                <input type="file" accept="image/*" name="image" class="form-control mt-2" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</div>





<div class="row">

    <div class="col-8 chat-content">

        <div class="header" style="display: none">
            <img src="img/Default.jpg" />
            <h2>Saeed</h2>
        </div>
        @*<div class="chats">
            <div class="chat-me">
            <div class="chat">
            <p>Hey ... </p>
            <span>2020/06/05</span>
            </div>
            </div>
            <div class="chat-you">
            <div class="chat">
            <p>Hi , How are you doing ?</p>
            <span>2020/06/05</span>
            </div>
            </div>
            <div class="chat-me">
            <div class="chat">
            <p>I`m Perfect , Whats up ?</p>
            <span>2020/06/05</span>
            </div>
            </div>
            <div class="chat-you">
            <div class="chat">
            <p>Everything is Great !</p>
            <span>2020/06/05</span>
            </div>
            </div>
            </div>*@

        <div class="footer" style="display: none">
            <form onsubmit="sendPm(event)">
                <input id="pm" type="text" class="form-control" placeholder="Please Enter your text">
                <button class="btn btn-success" style="background-color: #007bff">
                    Send
                    <i class="fa fa-send"></i>
                </button>
            </form>
        </div>

    </div>


    <div class="col-4 rooms">

        <Ul>
            <li>
                <form>
                    <input type="text" id="search-input" onkeyup="search()" placeholder="Search ..." class="form-control" style="padding-left: 2rem" />
                    <i class="fa fas fa-search"></i>
                </form>
            </li>

            <li id="search-result" style="display: none">
                <ul>
                    <li class="alert alert-warning">Not Found</li>
                </ul>
            </li>

            <li id="user-groups">
                <ul>
                    <li>
                        <button class="btn btn-primary btn-block text-center w-100" type="button" data-toggle="modal" data-target="#exampleModal">
                            New Chat
                            <i class="fa fa-plus"></i>
                        </button>
                    </li>

                    @foreach (var item in Model)
                    {
                        <li onclick="joinGroup('@item.Token')">
                            @item.GroupName
                            <img src="/images/groups/@item.ImageUrl" />
                            <span>@item.LastChat?.CreateDate</span>
                        </li>
                    }
                </ul>
            </li>


        </Ul>

    </div>

</div>

@section Scripts
{
<script src="lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="js/SignalRCustom.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();
    connection.on("welcome",
        function(message) {
            console.log(message);
        });

    connection.on("SendMessage",
        (message) => {
            console.log(message);
        });

    connection.on("NewGroup",
        (groupName, token, imageName) => {
            if (groupName == "Error")
                alert("an Error has occurred");
            else {

                $(".rooms #user-groups ul").append(`
            <li onclick="joinGroup('${token}')">
                ${groupName}
                <img src='/images/groups/${imageName}' />
                <span></span>
            </li>
    `);


                $("#exampleModal").modal({ show: false });
            }
        });
    connection.on("JoinGroup",
        (group, chats) => {
            $(".header").css("display", "block");
            $(".footer").css("display", "block");
            $(".header h2").html(group.title);
            $(".header img").attr("src", `/images/groups/${group.imageUrl}`);
        });

    connection.start();

    $("li[data-id]").click(() => {
        var token = $(this).Attr("data-id");
    });


    function joinGroup(token) {
        connection.invoke("JoinGroup", token);
    }

</script>
}
